/*
font-family: 'Roboto Serif', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Noto Serif Display', serif;
*/

*{
    box-sizing: border-box ;
}

body {
    margin: 0;
    font-family: 'Roboto Serif', sans-serif;
    background-color: #0b1d26;
    background-image: url("./../assets/BG.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
    
}

.header{
    margin-top: 64px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.container-wide{
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;

}
    
.row{
    display: flex;
}

.space-between{
    
    justify-content: space-between;
}

.logo{
    font-family: 'Noto Serif Display', serif;
    font-size: 32px;
    font-weight: 700;
}

.nav{
    font-weight: 700;
}

.nav ul {
    display: flex;
margin: 0;
padding: 0;
list-style-type: none;
}

.nav li + li {
    margin-left: 40px;
}



.nav a{
color: beige;
text-decoration: none;
font-family: 'Roboto Serif', sans-serif;
transition: color 0.2s ease-in;
}


.nav a:hover{
    color: #fbd784 ;
}

.account{
    position: relative;
    padding-left: 30px;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    transition: color 0.2s ease-in;
}

.account:hover{
    color: #fbd784;
    transition: color 0.2s ease-in;
}

.account::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 18%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(./assets/account.svg);
}

.nav-button{
    position: relative;
    z-index: 9;
    display: none;
    height: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
}

.nav-button:focus,
.nav-button:active
{ 
    outline: none;
}

.nav-button-icon{
    position: relative;
    display: block;
    background-color: #fff;
    width: 42px;
    height: 5px;
    border: none;
}
.nav-button-icon::before{
    position: absolute;
    left: 0;
    top: -10px;
content: "";
display: block;
width: 42px;
height: 5px;
background-color: #fff;
}

.nav-button-icon::after{
    position: absolute;
    left: 0;
    bottom: -10px;
content: "";
display: block;
width: 42px;
height: 5px;
background-color: #fff;
}

.nav-button-close .nav-button-icon{
    background-color: transparent;
}


.mobile-nav-active{
    transform:translateY();
}


.nav-button-close .nav-button-icon::before{
    transform: rotate(45deg);
    top: 0;
}

.nav-button-close .nav-button-icon::after{
    transform: rotate(-45deg);
    top: 0;
}


.mobile-nav{
   display: none;
   flex-direction: column;
   justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    padding: 70px 70px 50px 30px;
    background-color: rgba(27, 23, 23, 0.821);
}


.mobile-nav .nav,
.mobile-nav .account
{
    display: block;
}


.mobile-nav .nav ul{
    flex-direction: column;
}

.mobile-nav .nav ul li{
    margin: 0;
    margin-bottom: 25px;
}




.nav-wrapper{
 margin-bottom: 198px;   
}

.hero {
    display: block;
    margin-bottom: 843px;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
transition: 0.5s;
}
.hero-categoty {
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding-left: 104px;
    font-weight: 800;
   margin-bottom: 30px;
    line-height: 1.222;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fbd784;
}

.hero-categoty::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%) ;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #fbd784;
}

.hero-title {
    margin-bottom: 32px;
    font-family: 'Noto Serif Display', serif;
    font-weight: 500;
    line-height: 1.136;
    font-size: 80px;
    text-transform: capitalize;
    color: #ffffff;
}

.hero:hover{
    transform: translateY(-5%);

}


.hero-scroll {
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #ffffff;
}

.hero-scroll::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 0%;
    
    transform: translate(-50%);
    width: 16px;
    height: 24px;
    background-image: url('./assets/down.svg');
}
 
.container{
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


main{
    max-width: 100%;
}

.article {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.article:nth-child(even) {
    flex-direction: row-reverse;
}


.article-text {
    max-width: 782px;
    padding-left: 150px;
    position: relative;
}


.article-subtitle {
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding-left: 104px;
    font-weight: 800;
   margin-bottom: 30px;
    line-height: 1.222;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fbd784;
}

.article-subtitle::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%) ;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #fbd784;
}

.article-title{
    font-family: 'Noto Serif Display', serif;
    max-width: 555px;
    margin-bottom: 27px;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    font-style: 64px;
    line-height: 1.2;
    color: #ffffff;
}

.article-text p{
font-style: normal;
font-weight: 700;
font-style: 18px;
line-height: 1.78;
color: #ffffff;
margin-bottom: 27px;
}

.article-text::before{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 0;
    top: 0;
    display: block;
    content: attr(data-number);
    transform: translateY(-50%);
    width: 240px;
    height: 240px;
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 1;
    color: #ffffff;
    opacity: 0.1;
}

.article-read-more {
    display: inline-block;
    position: relative;
    padding-right: 62px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #fbd784
}

.article-read-more::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 0%;
    

    transform: translate(-50%);
    width: 24px;
    height: 16px;
    background-image: url('./assets/right.svg');
background-repeat: no-repeat;
}

.article-img img{
    display: block;
    width: 100%;
}


.footer {
    padding-bottom: 120px;
;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
}
.footer-copyright-logo {
    margin-bottom: 24px;
}



.footer-copyright-desc {
    max-width: 303px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
}
.footer-copyright-terms {
    margin-top: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
    color: rgba(255, 255, 255, 0.5) ;
}
.footer-nav {
max-width: 220px;

font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.78;
}

.footer-nav  ul{
padding: 0;
margin: 0;
list-style-type: none;
margin-top: -16px;
}


.footer-nav li{
padding: 0;
margin: 0;
margin-bottom: 11px;
}


.footer-nav a{
    position: relative;
color: white;
text-decoration: none;
font-family: 'Poppins', sans-serif;
font-size: 17px;
text-decoration: none;
padding-bottom: -5px;
}
.footer-nav-title {
    margin-bottom: 24px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.33;
color: #fbd784;
}

.footer-nav-wrapper{
    display: flex;
    
   
}

.footer-nav + .footer-nav{
    margin-left: 212px;
}

.footer-nav-wrapper2 {
    padding-left: 200px;
}

.footer-nav li:last-child {
    margin-bottom: 0;
}


.footer-nav a::after{
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
background-color: #fff;
opacity: 0;
transition: all 0.2s ease-in;
}

.footer-nav a:hover::after{
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
background-color: #fff;
opacity: 1;
}


/*media*/
