/*.header*/ 
/*.main, .footer {
    display: none;
}

.hero{
    display: none;
}*/

@media (max-width:1200px){
    .hero-title{
        font-size: 68px;
    }

.article {
    flex-wrap: wrap;
}

    .article-text::before{
        width: 140px;
        height: 140px;
        font-size: 140px;


    }

    .article-text{
        
        padding-left: 50px;
        max-width: 50%;
    }

    .article-img {
        width: 50%;
        padding: 1%;
    }
}




@media (max-width: 800px){

.header{
    padding-bottom: 200px;
}

    .nav, .account{
        display: none;
    }

    .nav-button{
        display: block;
    }

    .mobile-nav-active{
        display: flex;
    }

    .hero-title{
        font-size: 38px;
    }

    .hero-category::before{
    width: 42px;
    font-size: 14px;
    padding-left: 62px;
    }
}

@media (max-width:840px){
    .article-text{
        
        padding-left: 50px;
        max-width: 700%;
    }

    .article-img {
        width: 100%;
        padding: 2%;
    }

.footer-nav-title{
    font-size: 20px;
}

.footer-copyright-logo .logo{
    font-size: 20px;
}

.footer-copyright-desc{
    font-size: 18px;
}

.footer-copyright-terms{
    font-size: 10px;
}

    .footer-nav{
        max-width: 100%;
        padding-left: 7%;
        
    }
    .footer-nav a{
        font-size: 13px;
        
    }


}


@media (max-width:400px){
    .article-text{
        
        padding-left: 50px;
        max-width: 1000%;
        left: 15%;
    }

    .article-img img{
        width: 130%;
        left: 15%;
    }

    .footer-nav-title{
        font-size: 16px;
    }
    
    .footer-copyright-logo .logo{
        font-size: 17px;
    }
    
    .footer-copyright-desc{
        font-size: 14px;
    }
    
    .footer-copyright-terms{
        font-size: 8px;
    }
    
       
        .footer-nav a{
            font-size: 10px;
            
        }
}
